/* Your custom styles  */
#map {
    width: 30%;
    height: 400px;
    background-color: grey;
    margin: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.my-navbar{
  background-color: #5FA624 !important;
  margin-bottom:5%;
}

.navbar-nav {
margin-right: auto;
}

.nav-link{
font-size:20px;
font-family: Yu Gothic;
}

footer{
background-color: #5FA624 !important;
margin-top: 10%;
}

p {
margin-bottom: 5%;
font-family: Century Gothic;
}

h1, h2{
font-family: Yu Gothic;
margin-bottom: 5%;
}

.cover img {
width: 100%;
margin-bottom: 5%;
}
